
<md-card class="card-container">
  <h3>
  	Company details
  </h3>	
  <br>
  <p>Name: {{ retObjDetails.name }}</p>
  <p>Legal seat: {{ retObjDetails.legalSeat }}</p>
  <p>Legal form: {{ retObjDetails.legalform }}</p>
  <p>Capital Nom: {{ retObjDetails.capitalNom }}</p>
  <p>Status: {{ retObjDetails.status }}</p>
  
  <p>Register office: {{ retObjDetails.registerOfficeName }}</p>
  <p>Link: {{ retObjDetails.webLink }}</p>

  <p>Address: {{ retObjDetails.street }}, {{ retObjDetails.houseNumber }}  {{ retObjDetails.swissZipCode }} {{ retObjDetails.town }}  {{ retObjDetails.country }}</p>
  <p>Purpose: {{ retObjDetails.purpose }}</p>

</md-card>