	  <div id="container">

	  	 <md-card id="myChart">
	  	  	<span class="count_top">Total Usfd</span>
	  	  	<div class="count">{{ numUser }}</div>
	  	  	<span class="count_bottomminus">-10% last week</span>
	  	  </md-card>

	  	  <md-card id="myChart">
	  	  	<span class="count_top">BvD Search</span>
	  	  	<div class="count">2000</div>
	  	  	<span class="count_bottomplus">+4% last week</span>
	  	  </md-card>

	  	  <md-card id="myChart">
	  	  	<span class="count_top">Smart Kyc</span>
	  	  	<div class="count">3313</div>
	  	  	<span class="count_bottomminus">-5% last week</span>
	  	  </md-card>

	  	  <md-card id="myChart">
	  	  	<span class="count_top">Zefix</span>
	  	  	<div class="count">1453</div>
	  	  	<span class="count_bottomplus">+11% last week</span>
	  	  </md-card>
		</div>


	  <div id="containerBox">
	  	 <md-card id="myDoughnut">
	  	 		<app-doughnut-chart-gs></app-doughnut-chart-gs>
	  	  </md-card>

	  	  <md-card id="myDoughnut">
				<app-radar-chart></app-radar-chart>
	  	  </md-card>
		</div>

      <div id="containerBar">
      	<md-card id="myBar">
			<app-bar-chart></app-bar-chart>
	    </md-card> 
      </div>
